@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 100%;

  &__main {
    display: flex;
    flex-direction: column;
  }
}

.header {
  width: 100%;
  height: 65px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, .8);
  color: white;

  @media screen and (max-width: 900px) {
    height: auto;
    flex-direction: column;
    gap: 10px;
  }

  &__logo {
    text-align: center;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    &__link {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: white;
  background-size: cover;

  &__title {
    font-size: 30px;

    @media screen and (max-width: 900px) {
      font-size: 25px;
    }

    &-black {
      color: black;
    }
  }

  &__text {
    font-size: 20px;

    @media screen and (max-width: 900px) {
      text-align: center;
      font-size: 18px;
    }

    &-big {
      font-size: 22px;
      font-style: italic;
      text-decoration: underline;

      @media screen and (max-width: 900px) {
        font-size: 20px;
      }
    }

  }

  &__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    width: 50%;
    background: rgba(0, 0, 0, .8);
    font-size: 20px;
    border-radius: 10px;

    @media screen and (max-width: 900px) {
      width: 100%;
      align-items: center;
    }
  }
}

.input {
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0;
  border: none;
}

.button {
  padding: 5px 15px;
  background: rgba(0, 0, 0, .8);
  font-size: 14px;
  font-weight: 700;
  background: white;
  //border: 1px solid teal;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.slider {

  &__image {
    width: 100%;
    height: 350px;

    @media screen and (max-width: 900px) {
      height: 450px;
    }
  }

  &-caption {
    padding: 30px;
    background: rgba(0, 0, 0, .6);
    color: white;
    border-radius: 10px;

    @media screen and (max-width: 900px) {
      padding: 10px;
    }

    &__title {

    }

    &-description {
      font-size: 15px;

      &__text {
        font-style: italic;
      }
    }
  }
}

.about {

  &-services {

    &__title {
      font-size: 25px;

      @media screen and (max-width: 900px) {
        font-size: 20px;
      }
    }

    &-list {
      list-style-type: square;

      &__item {
        font-style: italic;

        @media screen and (max-width: 900px) {
          font-size: 18px;
        }
      }
    }
  }
}

.projects {

}

.client {

}